<div class="templatemo-content" id="templatemo-content-summary" style="width:100%;height:auto;padding:0px 50px;background-color: #fff;">
<style type="text/css">
    .body{
      background: white;
    }
    .border-every-box{
          border-radius: 2px;
     }
</style>

  <div>
        <div style="font-size:10px;padding:5px 0px;">
          <center><h4><b>Travel Request Review</b></h4></center>  
        </div>  
      
	<div class="border-every-box">
          <div style="color:gray;font-size:15px; ">
            <b>Flight Information</b>
          </div>
          <div id="final_selected-flight">
          
          <div id="selected_flight_info_sub" class="itinerary clearFix onwBlock" data-origin-destination="HYD_BOM" style="background-color: #ffffff;">
<div style="padding-left: 50px; padding-top: 5px; ">
<!-- flight 1 -->	
<ul style="margin-bottom: -16px;list-style: none;" data-sector="HYD_BOM" class="itinerarySummary HYD_BOM" flightid="704" flightname="AI" id="Air India" data-departdate="2017-05-20_05:00">
  <li class="vendor" style="width:80px;height:100px;padding:10px;float:left;">
    <div class="airLogo">
      <span class="airLogo">
        <img src="https://www.cleartrip.com/images/logos/air-logos/AI.png" alt="SpiceJet logo">
      </span>								
    </div>
      
    <div class="airlineName">
      <span class="name">Air India</span>
      <small class="flightNumber">AI 615</small>

      
    </div>
  </li>

  <li class="start" style="width:150px;height:100px;padding:10px;padding-left:30px;float:left;">
    <time datetime="20081002T1200+0530">
    <span class="placeTime">
    <span rel="tTooltip" original-title="Rajiv Gandhi Intl. Airport">HYD</span>



    <strong>
    09:45
    </strong>


    </span> 
    <!-- span class="travelDate">Thu, 21 Oct, 2011</span-->
    <span class="travelDate truncate">
    Fri, Sep-08-2017
    </span>
    </time>										
    <small class="terminal">

    
    <span class="noWrap">
    Rajiv Gandhi Intl. Airport
    </span> 
    </small>
    </li>
  <li class="details" style="width:70px;height:100px;padding:23px 5px;float:left;">
    <abbr title="PT1H45M0S" class="duration weak">1h 45m</abbr>
  </li>




<li class="end" style="width:170px;height:100px;padding:10px;float:left;">
<time datetime="20081002T1200+0530">
<span class="placeTime">



<strong>
11:30
</strong>


<span rel="tTooltip" original-title="Chatrapati Shivaji Airport, Mumbai"> BOM</span>
</span> 
<!-- span class="travelDate">Thu, 21 Oct, 2011</span-->
<span class="travelDate truncate">
Fri, Sep-08-2017
</span>
</time>	
<small class="terminal">

Chatrapati Shivaji Airport
 
</small>
</li>

    <li style="width:150px;height:100px;padding:10px;float:left;">
        <small><b>Free Baggage</b></small><br>
        <small>Check-in: 15 KG</small><br>
        <small>Cabin: 7 KG</small>
    </li>



    <li class="end" style="width:150px;height:100px;float:left;padding:10px">
      <div style="width:90%;">
        <center>
          <h5 class="totalAmount">Rs. 18,728</h5><br> 
          <div style="width:auto;">
            <div style="color:white;margin-bottom:2px;"><b style="background-color:#C9302C;padding:3px 4px;border-radius:4px;">FIRST</b></div></div>
        </center>
      </div>
      <!--
      <ul class="dots" style="list-style: none;">
          <li><a href="javascript:void(0);">Fare breakup</a></li>
          <li><a href="javascript:void(0);">Refund policy</a></li>
          <!--li class="baggageLinkLi"><a href="javascript:void(0);" class="baggageLink weak">Baggage info</a></li
      </ul>
      -->
   </li>
   <li class="end show_summary_or_addon" id="show_summary_or_addon" style="width:100px;height:100px;padding:18px 20px;float:left;">
         
   </li>
   
    <li class="add-on-m" style="width: 100px; height: 100px; padding: 18px 20px; float: left; display: none;">
      <table>
       <tbody><tr style="border-bottom: 5px solid transparent;">
           <!--
           <th><b style="color:gray;">In-flight meals</b></th>
           -->
           <th> 
              <button onclick="CT.utils.showModalDialog('/html/b2c/airMealModal.shtml','475','550',true,false)" type="button" class="action selectAddonButton">
              Add Meals</button>
          </th>
        </tr>

        <tr class="spacer"></tr>

        <tr style="border-bottom: 5px solid transparent;">
         <!--
         <th><b style="color:gray;">Check-in baggage</b></th>
         -->
        </tr>
        
        <tr style="border-bottom: 5px solid transparent;">
            <!--
            <th><b style="color:gray;">Seat Preference</b></th>
            -->
            <th>
              <button class="action selectAddonButton" type="button" onclick="javascript:SeatSelection.openModalWindow(0);">Select Seat
              </button>
            </th>
          </tr>
      </tbody></table>    
    </li>
    
    
   
</ul> 
</div>
    <div id="flight_violations" style="padding-left: 50px; display: none;">
        <img src="/assets/warning.png/" style="width:25px;height:25px;float:left;margin-left: 5px;margin-top: 5px;">
      <ul style="list-style: none;margin-left:30px;">
          <li style="margin:0px;">
            <div style="color:grey;width:80%;font-size:13px;"><b>Cabin Class : First selected</b></div>
          </li>
          <br>
          <li style="margin:0px;">
            <div style="color:grey;width:80%;font-size:13px;"><b>Preferred Carrier : Not selected</b></div>
          </li>
          <br>
      </ul>
    </div>
</div></div>
	</div>
<br/><br/><br/><br/><br/>
      <hr>
          <div class="border-every-box" id="flight_violations">
            <div style="color:gray;font-size:15px;">
              <b>Policy Deviations</b>
	    </div>
            <div>
                <img src="/assets/warning.png/" style="width:25px;height:25px;float:left;margin-left: 5px;margin-top: 5px;">
            </div>
            <div>
              <ul style="list-style: none;margin-left:30px;">
                  <li style="margin:0px;">
                    <div style="color:grey;width:80%;font-size:12px;"><b>Cabin Class : First selected</b></div>
                  </li>
                  <br>
                  <li style="margin:0px;">
                    <div style="color:grey;width:80%;font-size:12px;"><b>Preferred Carrier : Not selected</b></div>
                  </li>
                  <br>
              </ul>
            </div>
          </div>
      <hr>
          <div class="border-every-box" id="flight_violations">
              <div style="color:red;font-style:italic;">
                  <p>You did not mentioned the reason for above policy deviations.</p>
              </div>
            
          </div>
      <hr>
      <div class="border-every-box">
        <div style="color:gray;font-size:15px;">
          <b>Approver Information</b>
        </div>
        <br>
        <table style="font-size:15px;margin-left:50px;">		
            <tbody><tr>
                <td>Approver</td>
                <td>:&nbsp;&nbsp;</td>
                <td style="font-weight:bold;font-color:gray;">Sateesh Chaduvula (Project Manager)</td>
            </tr>
        </tbody></table>
      </div>
      <hr>
        <div class="border-every-box" style="width:450px;font-size:15px;margin-right:10px;float:left;border-right:1px solid #D3D3D3;">
		<div style="color:gray;">
                  <b>Passenger Information</b>
		</div>
                <br>
		<div style="padding-left:40px;">
			<table style="width:430px;height:110px;">
				<tbody><tr>
					<td>Name</td>
					<td>:&nbsp;&nbsp;</td>
					<td style="font-weight:bold;font-color:gray;">Mr. Jagadeesh Kota</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>:&nbsp;&nbsp;</td>
					<td style="font-weight:bold;font-color:gray;">Male</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>:&nbsp;&nbsp;</td>
					<td style="font-weight:bold;font-color:gray;">traveler_test@admin.com</td>
				</tr>
				<tr>
					<td>Phone</td>
					<td>:&nbsp;&nbsp;</td>
					<td style="font-weight:bold;font-color:gray;">9876543210</td>
                                </tr>
			</tbody></table>
		</div>
	</div>

	
	<div class="border-every-box" style="width:300px;font-size:15px;float:left;">
                <div style="color:gray;">
                    <b>Fare Summary</b>
		</div>
		<div style="margin-top:10px;padding-left: 50px;">
			<table style="width:300px;height:120px;">
				<tbody><tr>
					<td style="text-align:left;">Base Fare</td>
					<td>&nbsp;&nbsp;</td>

                                        <td style="text-align:right;">Rs. 18,000</td>
				</tr>
				<tr>
					<td style="text-align:left;">Taxes and Charges</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align:right;">Rs. 728</td>
				</tr>
				<tr>
					<td style="text-align:left;">Baggage</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align:right;">Rs. 0</td>
				</tr>
				<tr>
					<td style="text-align:left;">Meals</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align:right;">Rs. 0</td>
				</tr>
				<tr>
					<td style="text-align:left;font-weight: bold;">Total</td>
					<td>&nbsp;&nbsp;</td>
					<td style="text-align:right;font-weight: bold;"><hr>Rs. 18,728</td>
				</tr>				
			</tbody></table>
		</div>
	</div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
      <hr>
		<center>
			<div class="border-every-box" style="width:80%;height:50px;padding:10px 50px;float:left;">
					<div class="btn btn-primary">Submit Request</div>
				
			</div>
		</center>
</div>
</div>