<div class="search-flight-info-description">
    <div class="search-flight-info-part-flight"><div class="search-flight-info-part-headder">Flight <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></div></div>
    <div class="search-flight-info-part-departure"><div class="search-flight-info-part-headder">Departure <i class="fa fa-plane" aria-hidden="true"></i></div></div>
    <div class="search-flight-info-part-arrival"><div class="search-flight-info-part-headder">Arrive <i class="fa fa-plane font-reverse" aria-hidden="true"></i></div></div>
    <div class="search-flight-info-part-duration"><div class="search-flight-info-part-headder">Duration <i class="fa fa-clock-o" aria-hidden="true"></i></div></div>
    <div class="search-flight-info-part-more"><div class="search-flight-info-part-headder">More <i class="fa fa-balance-scale" aria-hidden="true"></i></i></div></div>
</div>