
<div class="search-filters">
  <div class="search-filters-containers">
    <div class="search-filters-font">
      <i class="fa fa-filter" aria-hidden="true"></i> - Apply Filters
    </div>
    <div>
      <div>Stops
        <div><input type="checkbox" checked="checked" value="preferred"> - All</div>
        <div><input type="checkbox" checked="checked" value="preferred"> - Non-Stop</div>
        <div><input type="checkbox" checked="checked" value="preferred"> - 1 Stop</div>
        <div><input type="checkbox" checked="checked" value="preferred"> - 2 Stops</div>
      </div>
      <div> More Filters
        <div><input type="checkbox" checked="checked" value="preferred"> - Preferred</div>
        <div><input type="checkbox" checked="checked" value="preferred"> - Low Cost</div>
      </div>
    </div>
  </div>
</div>