<div class="float-left">
  <div class="search-flight-info-description-rt">
      <div class="search-flight-info-part-flight-rt"><div class="search-flight-info-part-headder-rt">Flight <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-arrival-rt"><div class="search-flight-info-part-headder-rt">Departure <i class="fa fa-plane" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-departure-rt"><div class="search-flight-info-part-headder-rt">Arrive <i class="fa fa-plane font-reverse" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-duration-rt"><div class="search-flight-info-part-headder-rt">Duration <i class="fa fa-clock-o" aria-hidden="true"></i></div></div>
  </div>
  <div class="search-flight-info-description-rt">
      <div class="search-flight-info-part-flight-rt"><div class="search-flight-info-part-headder-rt">Flight <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-arrival-rt"><div class="search-flight-info-part-headder-rt">Departure <i class="fa fa-plane" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-departure-rt"><div class="search-flight-info-part-headder-rt">Arrive <i class="fa fa-plane font-reverse" aria-hidden="true"></i></div></div>
      <div class="search-flight-info-part-duration-rt"><div class="search-flight-info-part-headder-rt">Duration <i class="fa fa-clock-o" aria-hidden="true"></i></div></div>
  </div>
</div>