<style>
  .a-s-cabs-box-main{width:100%;height:auto;float:left;}
  .a-s-cabs-box-container{width:98%;height:auto;float:left;padding:5px;margin:1%;border:1px solid #d3d3d3;}
  .a-s-cabs-search input{width:175px;}
  
  .a-s-cabs-box-image{width:150px;height:130px;float:left;margin:0px 2px;opacity:0.7;border:1px solid #d3d3d3;padding:2px;}
  .a-s-cabs-box-image:hover{opacity:1}
  .a-s-cabs-box-image img{width:100%;max-height:100px;float:left;margin:0px 2px;}
  .a-s-cabs-box-image span{text-align:center;font-weight:bold;}
  .a-s-cabs-box-desc{width:200px;height:130px;float:left;border:1px solid #d3d3d3;padding:2px;}
  .a-s-cabs-box-desc td{text-align:left;font-weight:bold;}
  .a-s-cabs-book-btn-box{width:90px;float:left;padding-top:30px;text-align:center;font-weight:bold;font-size:20px;}
</style>
<div class="a-s-cabs-box-main">
    <div class="a-s-cabs-box-container">
        <div class="a-s-cabs-search">
            From: <input type="text" />
            To: <input type="text" /><br>
            Time: <input type="text" />
            <button class="btn btn-success btn-sm">go</button>
            <button class="btn btn-info btn-sm">+</button>
        </div>
    </div>
    <div class="a-s-cabs-box-container">
          <div class="a-s-cabs-box-image">
            <%= image_tag "indica.jpg" %>
            <center><span>Indica</span></center>
          </div>
          <div class="a-s-cabs-box-desc">
              <table>
                  <tr>
                      <td>Air Condition</td>
                      <td>:</td>
                      <td>AC</td>
                  </tr>
                  <tr>
                      <td>Cost/km</td>
                      <td>:</td>
                      <td>8 <i class="fa fa-inr" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                      <td>Tolls</td>
                      <td>:</td>
                      <td>Additional</td>
                  </tr>
                  <tr>
                      <td>Type</td>
                      <td>:</td>
                      <td>Small</td>
                  </tr>
                  <tr>
                      <td>capacity</td>
                      <td>:</td>
                      <td>4ppl</td>
                  </tr>
              </table>
          </div>
          <div class="a-s-cabs-book-btn-box">
            <center>
              <div class="a-s-cabs-total-fare">
                378 <i class="fa fa-inr" aria-hidden="true"></i>
              </div>
              <div>
                <button class="btn btn-success btn-sm">Book</button>
              </div>
            </center>
          </div>
    </div>
    <div class="a-s-cabs-box-container">
          <div class="a-s-cabs-box-image">
            <%= image_tag "tata-safari-storme.jpg" %>
            <center><span>Toyota storm</span></center>
          </div>
          <div class="a-s-cabs-box-desc">
              <table>
                  <tr>
                      <td>Air Condition</td>
                      <td>:</td>
                      <td>AC</td>
                  </tr>
                  <tr>
                      <td>Cost/km</td>
                      <td>:</td>
                      <td>14 <i class="fa fa-inr" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                      <td>Tolls</td>
                      <td>:</td>
                      <td>Additional</td>
                  </tr>
                  <tr>
                      <td>Type</td>
                      <td>:</td>
                      <td>Large</td>
                  </tr>
                  <tr>
                      <td>capacity</td>
                      <td>:</td>
                      <td>6ppl</td>
                  </tr>
              </table>
          </div>
          <div class="a-s-cabs-book-btn-box">
            <center>
              <div class="a-s-cabs-total-fare">
                670 <i class="fa fa-inr" aria-hidden="true"></i>
              </div>
              <div>
                <button class="btn btn-success btn-sm">Book</button>
              </div>
            </center>
          </div>
    </div>
    <div class="a-s-cabs-box-container">
          <div class="a-s-cabs-box-image">
            <%= image_tag "benz_c_class.jpg" %>
            <center><span>Benz C Class</span></center>
          </div>
          <div class="a-s-cabs-box-desc">
              <table>
                  <tr>
                      <td>Air Condition</td>
                      <td>:</td>
                      <td>AC</td>
                  </tr>
                  <tr>
                      <td>Cost/km</td>
                      <td>:</td>
                      <td>22 <i class="fa fa-inr" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                      <td>Tolls</td>
                      <td>:</td>
                      <td>Additional</td>
                  </tr>
                  <tr>
                      <td>Type</td>
                      <td>:</td>
                      <td>Luxary</td>
                  </tr>
                  <tr>
                      <td>capacity</td>
                      <td>:</td>
                      <td>3ppl</td>
                  </tr>
              </table>
          </div>
          <div class="a-s-cabs-book-btn-box">
            <center>
              <div class="a-s-cabs-total-fare">
                800 <i class="fa fa-inr" aria-hidden="true"></i>
              </div>
              <div>
                <button class="btn btn-success btn-sm">Book</button>
              </div>
            </center>
          </div>
    </div>
</div>
